<!-- <ion-header>
  <ion-toolbar>
    <ion-title>scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        Scan a Barcode
      </ion-card-header>
      <ion-card-content>
        <button ion-button block (click)="scanBarcode()">Scan</button>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
<!-- <ion-header>
</ion-header> -->

<!-- <ion-content padding>
  <ion-card>
    <ion-card-header>
      Scan a Barcode
    </ion-card-header>
    <ion-card-content>
      <button ion-button block (click)="scanBarcode()">Scan</button>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card *ngIf="product">
    <ion-card-header>
      Product Information
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>ID:</ion-label>
          <ion-note item-end>{{ product.id }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Name:</ion-label>
          <ion-note item-end>{{ product.name }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->

