<img src="assets/safetoeat1.jpg">
<ion-header>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Create Account</ion-button>
        <span class="ion-text-center">or <br/></span>
        <span class="divider line one-line">Already a user?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Login</ion-button>
      </ion-col>
      <span class="eat">Eating abroad has never been easier, log in to translate allergens to make sure they're... Safe for you... TO EAT</span>
    </ion-row>
  </ion-grid>
</ion-content>
